.profile {
  max-width: 880px;
  min-height: 120px;
  display: flex;
  margin: 40px auto 0;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .profile {
    max-width: 282px;
    min-height: 286px;
    flex-direction: column;
  }
}
