.profile__add-button {
  border: 2px solid #ffffff;
  background-color: black;
  width: 150px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 35px;
  background-image: url(../../../image/ui-kit/add-button.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
}

@media screen and (max-width: 1023px) {
  .profile__add-button {
    width: 282px;
    height: 50px;
    bottom: 0;
    top: auto;
  }
}

.profile__add-button:hover {
  opacity: 0.6;
}
