.profile__avatar {
  max-width: 120px;
  width: 100%;
  min-height: 120px;
  background-image: url(../../../image/kusto-profile-photo.jpg);
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
