.profile__info {
  min-width: 336px;
  margin: 22px 0 25px 30px;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .profile__info {
    min-width: 282px;
    margin: 26px auto 0;
  }
}
