.popup__group {
  
}

@media screen and (max-width: 1023px) {
  .popup__group {
    min-width: 238px;
  }

  .popup__group:last-of-type {
    margin-bottom: 45px;
  }
}

.popup__group:last-of-type {
  margin-bottom: 48px;
}
